
body{
    background-color: #20b2ab
}

#Welcome{
    background-color: #b0c4de

}

#intro{
    border-style: solid;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

div li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.home{
    border-style: solid;

}

.home:hover{
    color:yellow;
}

#poem{
    width: 400px;
}

